lazy-lock.json
*.log
.env
cs/CheatEngineTools/CheatLua/bin
cs/CheatEngineTools/CheatLua/obj
cs/CheatEngineTools/CheatLua/.vs
Session.vim
tagfiles
tags
doc/**/
doc/*.1
doc/*.2
doc/*.3
doc/*.4
doc/*.5
doc/*.6
doc/*.7
doc/*.8
doc/*.man
