[edit-compile-run]

# Optional: gcc clang make autotools cmake custom
builder = "gcc" 

# Reuqired: builder = "custom"
# Description: 
#   $@ is current file's absolute path
#   $bin is project's bin folder
# Example:
#   custom_command = "gcc $@ -o $bin/hello" 
custom_command = "" 
